[Unit]
Description=Apache Tomcat 9
After=network.target

[Service]
User=tomcat
Group=tomcat
Type=oneshot
PIDFile=/opt/apache-tomcat-9/tomcat.pid
RemainAfterExit=yes

ExecStart=/opt/apache-tomcat-9/bin/startup.sh
ExecStop=/opt/apache-tomcat-9/bin/shutdown.sh
ExecReStart=/opt/apache-tomcat-9/bin/shutdown.sh;/opt/apache-tomcat-9/bin/startup.sh

[Install]
WantedBy=multi-user.target